.menu-content {
  padding: 0.625rem;
  font-family: var(--thick-script);
}

.menu-desc {
  padding: 2rem;
  max-width: 63.125rem;
  margin: auto;
}

.menu-desc h1 {
  text-align: center;
}
.menu-desc p {
  font-size: 1.25rem;
  font-family: var(--thin-script);
}

.img-contain {
  width: 200px;
  height: 100%;
  text-align: center;
  cursor: pointer;
}

.img-contain img {
  height: 100%;
  width: 200px;
  border-radius: 0.625rem;
}
.main-selections {
  position: relative;
  width: 100%;
}
.menu-selection {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  gap: 1rem;
  position: relative;
  scroll-behavior: smooth;
}
.result {
  text-transform: capitalize;
}

.categories-main,
.categories {
  padding-block: 1rem;
  margin-block: 1rem;
}
.menu-selection::-webkit-scrollbar {
  display: none;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 30%;
  transform: translateY(-30%);
  /* background: yellow; */
  margin: 0.625rem;
  background: #ffff;
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 50%;
  cursor: pointer;
}

.arrow-right {
  right: 0;
}

.arrow-left {
  left: 0;
}

.left-btn,
.right-btn {
  font-size: 3.125rem;
}
.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.categ-choices {
  margin: auto;
}

.categ-choices img {
  height: auto;
  width: 100%;
}

@media (max-width: 61.938rem) {
  .categories {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 48rem) {
  .categories {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 33rem) {
  .categories {
    grid-template-columns: repeat(1, 1fr);
  }
}
